
.Detail{
    text-align: right;
  padding: 10px;
  margin: 0 auto;
  line-height: 30px;
  position: relative;
  
}
.main{
    margin-bottom: 45px;
}
.main .title{
    text-align: center;
    margin-bottom:15px; 
}

h6{
    text-align: center;
}

.starrating{
    float: left;
    display: inline-block;
}
  .starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
